.text-allign-header-cell{
    text-align: center;
    min-width: 10vw !important;
    max-width: 10vw !important;
  }
  
  .text-allign-cell{
    text-align: left;
  }

table {
    width: auto;
    min-width: 100%;
}

tr.mat-row > th.mat-header-cell,
tr.mat-row > td.mat-cell {
  /* 
  width:auto;
  text-overflow: ellipsis;
  */
  white-space: pre-line;
  word-wrap: break-word;
  padding: 10px; 
  max-width: 15vw !important;
  /* padding-right: 50px !important; */
}

tr.mat-header-row > th.mat-header-cell {
  border: 1px solid white;
}

tr.mat-row > td.mat-cell {
  /* 
  width:auto;
  text-overflow: ellipsis;
  */
  white-space: pre-line;
  word-wrap: break-word;
  padding: 10px; 
  border: 1px solid #64649a4a !important;
  /* padding-right: 50px !important; */
}

.mat-table{
  overflow: auto;
  width: auto;
}