.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.full-width {
    width: 100%;
}

textarea {
    font-size: 16px;
}

.purportSectionCard {
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}
