/*.container-fluid {
    background-image: url('../../assets/texture2.jpg');
    min-height: 100vh;
}
*/
.closeButton{
    min-width: 30px;
}
.tagButton{
    min-width: fit-content;
}
.combineButton{
    padding: 0px;
    background-color:rgb(255, 253, 241);
    margin-left: 10px;
    margin-right: 10px;
    width: fit-content;
    white-space: normal;
    overflow: hidden;
}
.tagSpace{
    width: 100%;
    white-space: normal;
    overflow: hidden;
}
.center-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.full-width {
    width: 100%;
}

textarea {
    font-size: 16px;
}

.purportSectionCard {
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
}

.mat-expansion-panel {
    margin: 10px 0;
}

.mat-expansion-panel-header {
    font-size: 20px;
}

.custom-tooltip {
    font-size: 12px;
    white-space: pre-line;
}