<div class="container-fluid">
  <div class="row" style="background-color:rgb(245, 244, 244); padding-top: 20px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <form [formGroup]="verseSelectionForm">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Canto" name="canto" formControlName="canto" required>
                <!-- <select matNativeControl formControlName="canto" placeholder="Canto">
                  <option *ngFor="let ca of cantos; let i=index" [value]="i+1">{{i+1}}</option>
                </select> -->
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Chapter" name="chapter" formControlName="chapter" required>
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Verse Number" name="verse" formControlName="verse" required>
              </mat-form-field>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <button mat-raised-button type="submit" color="primary" class="" (click)="onSubmitVerse()">
                Search
              </button>
            </div>
            <!--
            <div class="col-xs-12 col-sm-6 col-md-2">
              <p style="color: red">{{errortext}}</p>
            </div>
            -->
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="fetchedVerse">
    <div class="form-group">
      <form [formGroup]="verseForm" class="border">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-4 col-lg-4"
              style="text-align: center;">
              <mat-label>VERSE</mat-label>
              <textarea matInput rows="10" formControlName="verseText" readonly></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <mat-label>TRANSLATION</mat-label>
              <textarea matInput rows="10" formControlName="translationText" readonly></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <mat-label>PURPORT</mat-label>
              <textarea matInput rows="10" formControlName="translationText" readonly></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <mat-form-field class="col-sm-12">
              <mat-label>Tags</mat-label>
              <mat-select [formControl]='translationTagsSelect' multiple>
                <mat-option *ngFor="let tag of translationTags" [value]="tag.tag" [disabled]="tag.disabled">{{tag.tag}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <button type="submit" class="btn-primary btn mt-2 full-width" (click)="addTag('translation',-1)">
              Add
            </button>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <button type="submit" class="btn-warning btn mt-2 full-width" (click)="removeTag('translation',-1)">
              Remove
            </button>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <button type="submit" class="btn-primary btn mt-2 float-right" (click)="addSection()">
              Add Section
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let ps of purportSections; let i=index;">
          <div class="col-md-4">
            <div class="purportSectionCard">
              <div class="row">
                <mat-form-field appearance="outline" class="col-xs-12">
                  <mat-label>Purport Section</mat-label>
                  <textarea matInput rows="5" readonly>{{getPurportSectionText(i)}}</textarea>
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-xs-9">
                  <mat-form-field class="col-sm-12">
                    <mat-label>Tags</mat-label>
                    <mat-select [(value)]='purportSectionTagsSelect[i]' multiple>
                      <mat-option *ngFor="let tag of ps.tags" [value]="tag.tag" [disabled]="tag.disabled">
                        {{tag.tag}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-xs-3">
                  <button class="btn-primary btn mt-2 full-width" (click)="addTag('purportSection', i)">
                    Add
                  </button>
                </div>
                <div class="col-xs-3">
                  <button class="btn-warning btn mt-2 full-width" (click)="removeTag('purportSection', i)">
                    Remove
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <button class="btn-danger btn mt-2 float-left" (click)="removeSection(i)">
                    Remove Section
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!--previous and next buttons-->
  <div style="padding-top: 1%">
    <button mat-raised-button color=primary (click)="previousVerse()">Previous Verse</button>
    <button mat-raised-button color=primary style="float: right" (click)="nextVerse()">Next Verse</button>
  </div>

  <br>
  <!--the verse begins here-->
  <div>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup" [completed]="false">
        <ng-template matStepLabel>Edit Section</ng-template>
        <div style="margin-left: 10%; margin-right: 10%; margin-bottom: 20px">
          <!--From here the text area begins-->
          <div style="margin: 30px 0px;">
            <mat-expansion-panel>
              <mat-expansion-panel-header style="background-color: rgb(245, 244, 244);">
                <mat-panel-title>
                  ŚB {{verseId}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p style="text-align: center; font-size: large; padding: 10px 40px;"><span id="vData"></span></p>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header style="background-color: rgb(245, 244, 244);">
                <mat-panel-title>
                  Translation
                </mat-panel-title>
              </mat-expansion-panel-header>

              <p style="text-align: justify; font-size: large; font-weight: bold; padding: 0px 40px;"><span
                  id="tData"></span>
              </p>

              <mat-action-row>
                <div class="row" style="width: 100%">
                  <div class="col-sm-10">
                    <div class="row" style="overflow: auto; white-space: nowrap;">
                      <div *ngFor="let Ttags of translationTags; let j=index;" style="white-space: nowrap;">

                        <div style="padding: 0px; background-color:rgb(252, 245, 205); margin: 10px; width: fit-content;"
                          matTooltip="tagger:{{Ttags['tagger']}}, &#13; tagger_remark:{{Ttags['tagger_remark']}}, &#13; reviewer:{{Ttags['reviewer']}}"
                          matTooltipPosition="above">
                          <button type="button" class="btn"
                            [ngClass]="{'btn-warning':Ttags['reviewer'] === null, 'btn-success':Ttags['reviewer'] !== null}"
                            style="margin-left: 0px; min-width: 50px;" (click)="addTagRemark('translation', -1, j)">{{Ttags['tag']}}</button>
                          <button mat-button style="margin: 0px 0px 0px 0px; padding: 0px 0px; min-width: 20px;"
                            (click)="removeTag('translation', -1, j)">&times;</button>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-2">
                    <button mat-button (click)="addTag('translation',-1)">Add tag</button>
                  </div>
                </div>
                <!-- <div *ngFor="let Ttags of translationTags; let j=index;">

                  <div style="padding: 0px; background-color:rgb(252, 245, 205); margin: 10px;"
                    matTooltip="tagger:{{Ttags['tagger']}}, reviewer:{{Ttags['reviewer']}}" matTooltipPosition="above">
                    <button type="button" class="btn"
                      [ngClass]="{'btn-warning':Ttags['reviewer'] === null, 'btn-success':Ttags['reviewer'] !== null}"
                      style="margin-left: 0px; min-width: 50px;">{{Ttags['tag']}}</button>
                    <button mat-button style="margin: 0px 0px 0px 0px; padding: 0px 0px; min-width: 20px;"
                      (click)="removeTag('translation', -1, j)">&times;</button>
                  </div>
                  <button mat-button (click)="addTag('translation',-1)">Add tag</button>
                </div> -->
              </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header style="background-color: rgb(245, 244, 244);">
                <mat-panel-title>
                  Purport
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div style="text-align: justify; font-size: large; padding: 0px 40px;">

                <div (textSelect)="renderRectangles( $event )" style="position:relative">
                  <span id="pData"></span>
                  <div *ngIf="hostRectangle" class="indicator" [style.left.px]="hostRectangle.left"
                    [style.top.px]="hostRectangle.top" [style.width.px]="hostRectangle.width" [style.height.px]="0">

                    <div class="indicator__cta">
                      <a (mousedown)="$event.preventDefault()" (mouseup)="$event.stopPropagation(); addPurportSection()"
                        class="indicator__cta-link">
                        Add Section
                      </a>
                    </div>

                  </div>
                </div>
              </div>

              <!-- <mat-action-row>
                <button mat-button (click)="addSection()">Create section</button>
              </mat-action-row> -->
            </mat-expansion-panel>
            <div>
              <br>
              <img src="../../assets/linDiv.png" alt="---------------------------" class="center">
              <br>
            </div>
            <!--put new sections here after adding a line and leaving a gap-->

            <div *ngFor="let ps of purportSections; let i=index;">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="background-color: rgb(245, 244, 244);">
                  <mat-panel-description>
                    Purport Section {{i+1}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <p style="text-align: justify; font-size: large; font-weight: bold; padding: 10px 40px;">
                  {{getPurportSectionText(i)}}
                </p>

                <mat-action-row>
                  <div class="row" style="width: 100%">
                    <div class="col-sm-10">
                      <div class="row" style="overflow: auto; white-space: nowrap;">
                        <div *ngFor="let PStag of ps.tags; let j=index;" style="white-space: nowrap;">

                          <div
                            style="padding: 0px; background-color:rgb(252, 245, 205); margin: 10px; width: fit-content;"
                            matTooltip="tagger:{{PStag['tagger']}}, &#13; tagger_remark:{{PStag['tagger_remark']}}, &#13; reviewer:{{PStag['reviewer']}}"
                            matTooltipPosition="above" matTooltipClass="custom-tooltip">
                            <button type="button" class="btn"
                              [ngClass]="{'btn-warning':PStag['reviewer'] === null, 'btn-success':PStag['reviewer'] !== null}"
                              style="margin-left: 0px;" (click)="addTagRemark('purportSection', i, j)">{{PStag['tag']}}</button>
                            <button mat-button style="margin: 0px 0px 0px 0px; padding: 0px 0px; min-width: 20px;"
                              (click)="removeTag('purportSection', i, j)">&times;</button>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-sm-2">
                      <button mat-stroked-button (click)="addTag('purportSection',i)">Add tag</button>
                      <button mat-stroked-button color="warn" (click)="removeSection(i)">Delete section</button>
                    </div>
                  </div>


                </mat-action-row>
              </mat-expansion-panel>
              <!--purport sections-->


              <!-- <div class="col-md-4">
              <div class="purportSectionCard">
                <div class="row">
                  <mat-form-field appearance="outline" class="col-xs-12">
                    <mat-label>Purport Section</mat-label>
                    <textarea matInput rows="5" readonly></textarea>
                  </mat-form-field>
                </div>
                <div class="row">
                  <div class="col-xs-9">
                    <mat-form-field class="col-sm-12">
                      <mat-label>Tags</mat-label>
                      <mat-select [(value)]='purportSectionTagsSelect[i]' multiple>
                        <mat-option *ngFor="let tag of ps.tags" [value]="tag.tag" [disabled]="tag.disabled">
                          {{tag.tag}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-3">
                    <button class="btn-primary btn mt-2 full-width" (click)="addTag('purportSection', i)">
                      Add
                    </button>
                  </div>
                  <div class="col-xs-3">
                    <button class="btn-warning btn mt-2 full-width" (click)="removeTag('purportSection', i)">
                      Remove
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <button class="btn-danger btn mt-2 float-left" (click)="removeSection(i)">
                      Remove Section
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="col-md-12">
                <mat-label>New Purport Section</mat-label>
                <textarea rows="1" matInput [(ngModel)]='newPurportSection'></textarea>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-2">
                <button class="btn-info btn mt-2 full-width" (click)="addSection()">
                  Add Purport Section
                </button>
              </div>
            </div>
          </div>
        </div>
        <div align="center">
          <button mat-raised-button matStepperNext color="primary">Proceed to review page</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [completed]="false">
        <ng-template matStepLabel>Review Section</ng-template>
        <div style="margin-left: 10%; margin-right: 10%;">
          <!--From here the text area begins-->
          <div style="margin: 30px 0px;">
            <mat-card>
              <div>
                <strong style="font-size: x-large;">Translation</strong>
                <p style="text-align: justify; font-size: large; font-weight: bold; padding: 0px 40px;">{{vf.translationText.value}}
                </p>

                <div class="row" style="width: 100%">
                  <div class="col-sm-12">
                    <div class="row" style="overflow: auto; white-space: nowrap;">
                      <div *ngFor="let Ttags of translationTags; let j=index;" style="white-space: nowrap;">

                        <div style="padding: 0px; background-color:rgb(252, 245, 205); margin: 10px; width: fit-content;"
                          matTooltip="tagger:{{Ttags['tagger']}}, tagger_remark: {{Ttags['tagger_remark']}}, reviewer:{{Ttags['reviewer']}}"
                          matTooltipPosition="above">
                          <button type="button" class="btn"
                            [ngClass]="{'btn-warning':Ttags['reviewer'] === null, 'btn-success':Ttags['reviewer'] !== null}"
                            style="margin-left: 0px; min-width: 50px;">{{Ttags['tag']}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div *ngFor="let Ttags of translationTags; let j=index;">

                  <div style="padding: 0px; background-color:rgb(252, 245, 205); margin: 10px;"
                    matTooltip="tagger:{{Ttags['tagger']}}, reviewer:{{Ttags['reviewer']}}" matTooltipPosition="above">
                    <button type="button" class="btn"
                      [ngClass]="{'btn-warning':Ttags['reviewer'] === null, 'btn-success':Ttags['reviewer'] !== null}"
                      style="margin-left: 0px; min-width: 50px;">{{Ttags['tag']}}</button>
                    <button mat-button style="margin: 0px 0px 0px 0px; padding: 0px 0px; min-width: 20px;"
                      (click)="removeTag('translation', -1, j)">&times;</button>
                  </div>
                  <button mat-button (click)="addTag('translation',-1)">Add tag</button>
                  </div> -->
                  <!-- <p style="text-align: justify; font-size: large; padding: 0px 40px;">
                                  {{this.verseForm.controls['translationText'].value}}</p>
                                <div *ngFor="let Ttags of translationTags; let j=index;" class="tagSpace">
                                  <p class="combineButton">
                                    <button mat-button class="tagButton">{{Ttags['tag']}}</button> 
                  </p> 
                </div> -->
              </div>
            </mat-card>
          </div>

          <!--put new sections here after adding a line and leaving a gap-->
          <div *ngFor="let ps of purportSections; let i=index;"  id="RefDiv">
            <div style="margin: 30px 0px;">
              <mat-card>
                <div>
                  <strong style="font-size: x-large;">Purport Section {{i+1}}</strong>
                  <p style="text-align: justify; font-size: large; font-weight: bold; padding: 0px 40px;">{{getPurportSectionText(i)}}
                  </p>

                  <div class="row" style="width: 100%">
                    <div class="col-sm-12">
                      <div class="row" style="overflow: auto; white-space: nowrap;">
                        <div *ngFor="let PStag of ps.tags; let j=index;" style="white-space: nowrap;">

                          <div
                            style="padding: 0px; background-color:rgb(252, 245, 205); margin: 10px; width: fit-content;"
                            matTooltip="tagger:{{PStag['tagger']}}, tagger_remark:{{PStag['tagger_remark']}}, reviewer:{{PStag['reviewer']}} "
                            matTooltipPosition="above">
                            <button type="button" class="btn"
                              [ngClass]="{'btn-warning':PStag['reviewer'] === null, 'btn-success':PStag['reviewer'] !== null}"
                              style="margin-left: 0px;">{{PStag['tag']}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>


        </div>
        <div align="center">
          <button mat-raised-button matStepperPrevious color="primary">Back</button>
          <br>
          <br>
          <br>
          <div *ngIf="isReviewer" class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <button class="btn-success btn mt-2 full-width" (click)="approveCurrentTags()">
                APPROVE
              </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>