<nav class="navbar navbar-inverse" style="margin-bottom: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: mintcream;" href="#">Śrimad Bhāgavatam Theme Search</a>
    </div>
    <ul class="nav navbar-nav" *ngIf='authServiceService.isUserLogin()'>
      <li class="active"><a class="btn" (click)="onMenuClick()" style="color: mintcream;">Home</a></li>
    </ul>
    <ul class="nav navbar-nav"  *ngIf='authServiceService.isUserLogin()'>
        <li class="active"><a class="btn" routerLink='/logout' style="color: mintcream;">Logout</a></li>
      </ul>
     
  </div>
</nav>
<!-- <app-loader></app-loader> -->
<router-outlet></router-outlet>